<!-- La directive ngClass permet d'attribuer une classe CSS à un élément selon une condition -->
<!-- La directive ngStyle permet d'attribuer une valeur dynamique directement à un style -->
<!-- *ngFor et *ngIf sont des directives structurelles -->
<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ 'snapped': faceSnap.snaps > 0 }">
  <!-- faceSnap$ | async signifie que cette div n'apparaîtra pas tant que le serveur n'a pas répondu-->
  <!-- as faceSnap  est l'alias utilisé dans le template ci-dessous. On l'utilise pour afficher la réponse du serveur. faceSnap est utilisable à l'intérieur de la dic-->
  <!-- <h2>{{ faceSnap.title | uppercase }}</h2>
  <h2>{{ faceSnap.title | lowercase }}</h2> -->
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <a routerLink="/facesnaps">BACK</a>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <p>Mis en ligne le {{ faceSnap.createdDate | date }}</p>
  <!-- <p>Mis en ligne le {{ faceSnap.createdDate | date: 'longDate' }}</p>
  <p>Mis en ligne le {{ faceSnap.createdDate | date: 'dd/MM/yy, à HH:mm' }}</p>
  <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
  <p>{{ 4346234.36 }}</p>
  <p>{{ 4346234.36 | number }}</p>
  <p>{{ 4346234.36 | number: '1.0-0' }}</p>
  <p>{{ 4346234.36 | number: '1.0-1' }}</p>
  <p>{{ 0.336 | percent }}</p>
  <p>{{ 344.36 | currency }}</p>
  <p>{{ 344.36 | currency: 'EUR' }}</p>
  <span>{{ 122422.467 | number }}</span> -->

  <p>
    <button (click)="onSnap(faceSnap.id)">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">👍🏻 {{ faceSnap.snaps }}</span>
  </p>
</div>
