<!-- <app-face-snap [faceSnap]="mySnap"></app-face-snap>
<app-face-snap [faceSnap]="myOtherSnap" *ngIf="myOtherSnap.snaps > 3"></app-face-snap>
<app-face-snap [faceSnap]="myLastSnap" *ngIf="myLastSnap.snaps > 1"></app-face-snap> -->

<!-- <app-face-snap *ngFor="let faceSnapElementInArray of faceSnaps" [faceSnap]="faceSnapElementInArray"></app-face-snap> -->

<!-- La syntaxe valable est  <balise *ngFor="let element of array" [property]="element" >. -->
<!-- *ngFor et *ngIf sont des directives structurelles -->
<app-header></app-header>

<app-face-snap-list></app-face-snap-list>
