<div class="landing-block">
  <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for="emailInput">Inscrivez-vous pour à notre
      newsletter</label>
    <input id="emailInput" name="userEmail" type="email" [(ngModel)]="userEmail">
    <label for="IdInput">votre âge</label>
    <input id="IdInput" name="userId" type="number" [(ngModel)]="userId">
    <button type="submit">OK!</button>
  </form>
  <img src="assets/snapface_logo.png" alt="Snapface logo">

  <div class="landing-links">
    <button (click)="onContinue()">Continuer vers Snapface</button>

  </div>
</div>
